@model BETL20250324AppWebMVC.Models.Warehouse

@{
    ViewData["Title"] = "crear";
}

<h1>crear</h1>

<h4>almacen</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="WarehouseName" class="control-label">nombre del almacen</label>
                <input asp-for="WarehouseName" class="form-control" />
                <span asp-validation-for="WarehouseName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Notes" class="control-label">notas</label>
                <input asp-for="Notes" class="form-control" />
                <span asp-validation-for="Notes" class="text-danger"></span>
            </div>
            <div class="form-group mt-2">
                <input type="submit" value="crear" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>
<div class="mt-2">
    <a asp-action="Index" class="btn btn-dark">cancelar</a>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
